{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        {% if post.preview %}
        <img src="{{ post.preview.url }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text"><small class="text-muted">Просмотров: {{ post.views_count }}</small></p>
            <a href="{% url 'blog:blogpost_edit' post.pk %}" class="btn btn-warning">Редактировать</a>
            <a href="{% url 'blog:blogpost_delete' post.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}
